In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
card = pd.read_csv('data_cleaned.csv',
 parse_dates=['Date'],
 index_col='Date')

In [3]:
card.head()

,Unnamed: 0,Recnum,Cardnum,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
Date,,,,,,,,,,
2010-01-01,0,1,5142190439,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
2010-01-01,1,2,5142183973,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0
2010-01-01,2,3,5142131721,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0
2010-01-01,3,4,5142148452,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
2010-01-01,4,5,5142190439,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0

In [4]:
card['order_cs'] = card.groupby(['Cardnum', 'Merch state', 'Date']).cumcount()+1

In [5]:
card_ref=card.iloc[:,1:]

In [6]:
card_ref.head(5)

,Recnum,Cardnum,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,order_cs
Date,,,,,,,,,,
2010-01-01,1,5142190439,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,1
2010-01-01,2,5142183973,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,1
2010-01-01,3,5142131721,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,1
2010-01-01,4,5142148452,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,1
2010-01-01,5,5142190439,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,2

### Amount variables (amount_cs)

In [7]:
%%time
avg_cs_0=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='1D').mean().reset_index()
avg_cs_0['order_cs']=avg_cs_0.groupby(['Cardnum','Merch state','Date']).cumcount()+1
avg_cs_1=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='2D').mean().reset_index()
avg_cs_1['order_cs']=avg_cs_1.groupby(['Cardnum','Merch state','Date']).cumcount()+1
avg_cs_3=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='4D').mean().reset_index()
avg_cs_3['order_cs']=avg_cs_3.groupby(['Cardnum','Merch state','Date']).cumcount()+1
avg_cs_7=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='8D').mean().reset_index()
avg_cs_7['order_cs']=avg_cs_7.groupby(['Cardnum','Merch state','Date']).cumcount()+1
avg_cs_14=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='15D').mean().reset_index()
avg_cs_14['order_cs']=avg_cs_14.groupby(['Cardnum','Merch state','Date']).cumcount()+1
avg_cs_30=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='31D').mean().reset_index()
avg_cs_30['order_cs']=avg_cs_30.groupby(['Cardnum','Merch state','Date']).cumcount()+1

max_cs_0=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='1D').max().reset_index()
max_cs_0['order_cs']=avg_cs_0.groupby(['Cardnum','Merch state','Date']).cumcount()+1
max_cs_1=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='2D').max().reset_index()
max_cs_1['order_cs']=max_cs_1.groupby(['Cardnum','Merch state','Date']).cumcount()+1
max_cs_3=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='4D').max().reset_index()
max_cs_3['order_cs']=max_cs_3.groupby(['Cardnum','Merch state','Date']).cumcount()+1
max_cs_7=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='8D').max().reset_index()
max_cs_7['order_cs']=max_cs_7.groupby(['Cardnum','Merch state','Date']).cumcount()+1
max_cs_14=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='15D').max().reset_index()
max_cs_14['order_cs']=max_cs_14.groupby(['Cardnum','Merch state','Date']).cumcount()+1
max_cs_30=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='31D').max().reset_index()
max_cs_30['order_cs']=max_cs_30.groupby(['Cardnum','Merch state','Date']).cumcount()+1

med_cs_0=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='1D').median().reset_index()
med_cs_0['order_cs']=avg_cs_0.groupby(['Cardnum','Merch state','Date']).cumcount()+1
med_cs_1=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='2D').median().reset_index()
med_cs_1['order_cs']=med_cs_1.groupby(['Cardnum','Merch state','Date']).cumcount()+1
med_cs_3=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='4D').median().reset_index()
med_cs_3['order_cs']=med_cs_3.groupby(['Cardnum','Merch state','Date']).cumcount()+1
med_cs_7=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='8D').median().reset_index()
med_cs_7['order_cs']=med_cs_7.groupby(['Cardnum','Merch state','Date']).cumcount()+1
med_cs_14=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='15D').median().reset_index()
med_cs_14['order_cs']=med_cs_14.groupby(['Cardnum','Merch state','Date']).cumcount()+1
med_cs_30=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='31D').median().reset_index()
med_cs_30['order_cs']=med_cs_30.groupby(['Cardnum','Merch state','Date']).cumcount()+1

tot_cs_0=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='1D').sum().reset_index()
tot_cs_0['order_cs']=avg_cs_0.groupby(['Cardnum','Merch state','Date']).cumcount()+1
tot_cs_1=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='2D').sum().reset_index()
tot_cs_1['order_cs']=tot_cs_1.groupby(['Cardnum','Merch state','Date']).cumcount()+1
tot_cs_3=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='4D').sum().reset_index()
tot_cs_3['order_cs']=tot_cs_3.groupby(['Cardnum','Merch state','Date']).cumcount()+1
tot_cs_7=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='8D').sum().reset_index()
tot_cs_7['order_cs']=tot_cs_7.groupby(['Cardnum','Merch state','Date']).cumcount()+1
tot_cs_14=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='15D').sum().reset_index()
tot_cs_14['order_cs']=tot_cs_14.groupby(['Cardnum','Merch state','Date']).cumcount()+1
tot_cs_30=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='31D').sum().reset_index()
tot_cs_30['order_cs']=tot_cs_30.groupby(['Cardnum','Merch state','Date']).cumcount()+1

CPU times: user 1min 54s, sys: 1.25 s, total: 1min 56s
Wall time: 1min 56s

In [8]:
card_clean=card_ref.reset_index().iloc[:,[0,1,2,5,8,10]]

In [9]:
card_clean.head()

        Date  Recnum     Cardnum Merch state  Amount  order_cs
0 2010-01-01       1  5142190439          TN    3.62         1
1 2010-01-01       2  5142183973          MA   31.42         1
2 2010-01-01       3  5142131721          MD  178.49         1
3 2010-01-01       4  5142148452          TN    3.62         1
4 2010-01-01       5  5142190439          TN    3.62         2

In [10]:
amount_cs=card_clean.merge(avg_cs_0,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(avg_cs_1,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(avg_cs_3,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(avg_cs_7,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(avg_cs_14,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(avg_cs_30,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(max_cs_0,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(max_cs_1,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(max_cs_3,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(max_cs_7,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(max_cs_14,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(max_cs_30,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(med_cs_0,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(med_cs_1,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(med_cs_3,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(med_cs_7,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(med_cs_14,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(med_cs_30,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(tot_cs_0,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(tot_cs_1,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(tot_cs_3,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(tot_cs_7,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(tot_cs_14,on=['Cardnum','Merch state','Date','order_cs'],how='left').\
merge(tot_cs_30,on=['Cardnum','Merch state','Date','order_cs'],how='left')

In [11]:
amount_cs.columns=['Date','Recnum','Cardnum','Merch state','Amount','order_cs','avg_cs_0','avg_cs_1','avg_cs_3','avg_cs_7','avg_cs_14','avg_cs_30','max_cs_0','max_cs_1','max_cs_3','max_cs_7','max_cs_14','max_cs_30','med_cs_0','med_cs_1','med_cs_3','med_cs_7','med_cs_14','med_cs_30','tot_cs_0','tot_cs_1','tot_cs_3','tot_cs_7','tot_cs_14','tot_cs_30']

In [12]:
amount_cs['qaa_cs_0']=amount_cs['Amount']/amount_cs['avg_cs_0']
amount_cs['qaa_cs_1']=amount_cs['Amount']/amount_cs['avg_cs_1']
amount_cs['qaa_cs_3']=amount_cs['Amount']/amount_cs['avg_cs_3']
amount_cs['qaa_cs_7']=amount_cs['Amount']/amount_cs['avg_cs_7']
amount_cs['qaa_cs_14']=amount_cs['Amount']/amount_cs['avg_cs_14']
amount_cs['qaa_cs_30']=amount_cs['Amount']/amount_cs['avg_cs_30']

amount_cs['qamax_cs_0']=amount_cs['Amount']/amount_cs['max_cs_0']
amount_cs['qamax_cs_1']=amount_cs['Amount']/amount_cs['max_cs_1']
amount_cs['qamax_cs_3']=amount_cs['Amount']/amount_cs['max_cs_3']
amount_cs['qamax_cs_7']=amount_cs['Amount']/amount_cs['max_cs_7']
amount_cs['qamax_cs_14']=amount_cs['Amount']/amount_cs['max_cs_14']
amount_cs['qamax_cs_30']=amount_cs['Amount']/amount_cs['max_cs_30']

amount_cs['qamed_cs_0']=amount_cs['Amount']/amount_cs['med_cs_0']
amount_cs['qamed_cs_1']=amount_cs['Amount']/amount_cs['med_cs_1']
amount_cs['qamed_cs_3']=amount_cs['Amount']/amount_cs['med_cs_3']
amount_cs['qamed_cs_7']=amount_cs['Amount']/amount_cs['med_cs_7']
amount_cs['qamed_cs_14']=amount_cs['Amount']/amount_cs['med_cs_14']
amount_cs['qamed_cs_30']=amount_cs['Amount']/amount_cs['med_cs_30']

amount_cs['qat_cs_0']=amount_cs['Amount']/amount_cs['tot_cs_0']
amount_cs['qat_cs_1']=amount_cs['Amount']/amount_cs['tot_cs_1']
amount_cs['qat_cs_3']=amount_cs['Amount']/amount_cs['tot_cs_3']
amount_cs['qat_cs_7']=amount_cs['Amount']/amount_cs['tot_cs_7']
amount_cs['qat_cs_14']=amount_cs['Amount']/amount_cs['tot_cs_14']
amount_cs['qat_cs_30']=amount_cs['Amount']/amount_cs['tot_cs_30']

In [13]:
amount_cs.head()

,Date,Recnum,Cardnum,Merch state,Amount,order_cs,avg_cs_0,avg_cs_1,avg_cs_3,avg_cs_7,...,qamed_cs_3,qamed_cs_7,qamed_cs_14,qamed_cs_30,qat_cs_0,qat_cs_1,qat_cs_3,qat_cs_7,qat_cs_14,qat_cs_30
0,2010-01-01,1,5142190439,TN,3.62,1,3.62,3.62,3.62,3.62,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2010-01-01,2,5142183973,MA,31.42,1,31.42,31.42,31.42,31.42,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2010-01-01,3,5142131721,MD,178.49,1,178.49,178.49,178.49,178.49,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,2010-01-01,4,5142148452,TN,3.62,1,3.62,3.62,3.62,3.62,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,2010-01-01,5,5142190439,TN,3.62,2,3.62,3.62,3.62,3.62,...,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5,0.5,0.5

### Frequency Variables (freq_cs)

In [14]:
%%time
freq_cs_0=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='1D').count().reset_index()
freq_cs_0['order_cs']=freq_cs_0.groupby(['Cardnum','Merch state','Date']).cumcount()+1
freq_cs_1=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='2D').count().reset_index()
freq_cs_1['order_cs']=freq_cs_1.groupby(['Cardnum','Merch state','Date']).cumcount()+1
freq_cs_3=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='4D').count().reset_index()
freq_cs_3['order_cs']=freq_cs_3.groupby(['Cardnum','Merch state','Date']).cumcount()+1
freq_cs_7=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='8D').count().reset_index()
freq_cs_7['order_cs']=freq_cs_7.groupby(['Cardnum','Merch state','Date']).cumcount()+1
freq_cs_14=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='15D').count().reset_index()
freq_cs_14['order_cs']=freq_cs_14.groupby(['Cardnum','Merch state','Date']).cumcount()+1
freq_cs_30=card_ref.groupby(['Cardnum','Merch state'])['Amount'].rolling(window='31D').count().reset_index()
freq_cs_30['order_cs']=freq_cs_30.groupby(['Cardnum','Merch state','Date']).cumcount()+1

CPU times: user 26.9 s, sys: 404 ms, total: 27.3 s
Wall time: 27.2 s

In [15]:
freq_cs=freq_cs_0.merge(freq_cs_1,on=['Cardnum','Merch state','Date','order_cs']).\
merge(freq_cs_3,on=['Cardnum','Merch state','Date','order_cs']).\
merge(freq_cs_7,on=['Cardnum','Merch state','Date','order_cs']).\
merge(freq_cs_14,on=['Cardnum','Merch state','Date','order_cs']).\
merge(freq_cs_30,on=['Cardnum','Merch state','Date','order_cs'])

In [16]:
freq_cs.columns=['Cardnum','Merch state','Date','freq_cs_0','order_cs','freq_cs_1','freq_cs_3','freq_cs_7','freq_cs_14','freq_cs_30']

In [17]:
freq_cs.head()

,Cardnum,Merch state,Date,freq_cs_0,order_cs,freq_cs_1,freq_cs_3,freq_cs_7,freq_cs_14,freq_cs_30
0,5142110002,VA,2010-10-12,1.0,1,1.0,1.0,1.0,1.0,1.0
1,5142110081,TN,2010-03-08,1.0,1,1.0,1.0,1.0,1.0,1.0
2,5142110081,TN,2010-03-08,2.0,2,2.0,2.0,2.0,2.0,2.0
3,5142110081,UT,2010-11-26,1.0,1,1.0,1.0,1.0,1.0,1.0
4,5142110081,WA,2010-12-27,1.0,1,1.0,1.0,1.0,1.0,1.0

### Days Since Variable (diff_cs)

In [18]:
card_sort=card_clean.sort_values(by=['Cardnum','Merch state','Date','order_cs'],ascending=True)

In [19]:
card_sort2=card_sort.reset_index().iloc[:,1:]

In [20]:
card_sort2['diff_cs']=0

In [21]:
for i in range(len(card_sort2)-1):
    if card_sort2.loc[i,'Cardnum']==card_sort2.loc[i+1,'Cardnum'] and card_sort2.loc[i,'Merch state']==card_sort2.loc[i+1,'Merch state']:
        card_sort2.loc[i+1, 'diff_cs']=(card_sort2.loc[i+1,'Date']-card_sort2.loc[i,'Date']).days
    if card_sort2.loc[i,'Cardnum']!=card_sort2.loc[i+1,'Cardnum'] and card_sort2.loc[i,'Merch state']!=card_sort2.loc[i+1,'Merch state']:
        card_sort2.loc[i+1, 'diff_cs']=365

In [22]:
card_sort2.loc[0, 'diff_cs']=365

In [23]:
all_cs = card_ref.reset_index().merge(amount_cs,on=['Recnum','Cardnum','Merch state','Amount','Date','order_cs'],how='left').\
merge(freq_cs, on = ['Cardnum','Date','Merch state','order_cs'],how='left').\
merge(card_sort2, on = ['Recnum','Cardnum','Date','Merch state','Amount','order_cs'],how='left')

In [24]:
all_cs.head()

,Date,Recnum,Cardnum,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,...,qat_cs_7,qat_cs_14,qat_cs_30,freq_cs_0,freq_cs_1,freq_cs_3,freq_cs_7,freq_cs_14,freq_cs_30,diff_cs
0,2010-01-01,1,5142190439,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0
1,2010-01-01,2,5142183973,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0
2,2010-01-01,3,5142131721,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0
3,2010-01-01,4,5142148452,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0
4,2010-01-01,5,5142190439,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,...,0.5,0.5,0.5,2.0,2.0,2.0,2.0,2.0,2.0,0

In [25]:
len(all_cs)

96397

In [26]:
all_cs.to_csv('all_card_state.csv')